body {
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  
}

.move-btn {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid white;
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
}

.move-icon {
  width: 60%;
}

.title-card {
  margin: 3%;
  font-size: 32px;
}

.js-result {
  font-size: 22px;
  font-weight: 600;
}

.move-result-icon {
  width: 25px;
}